
/* Google Font imports */

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* General styling */

body {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

/* Header styling */

header {
    background-color: white;
}

#logo h1 {
    line-height: 55px;
    font-family: "Zilla Slab", serif;
}

ul.dropdown-menu.show {
    position: absolute;
    left: -145px;
}

#logolink {
    text-decoration: none;
    color: black;
}

/* Raise the top and bottom margins of the page to take the fixed header and footer into account */
.betweenhandf {
    margin-top: 30px;
    margin-bottom: 60px;
}

.boxstyling {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    background-color: lightgrey;
    margin: auto;
    margin-top: 40px;
    border-radius: 30px;
}

.boxstyling h2 {
    margin-top: 20px;
    background-color: lightgrey;
    padding: 10px;
}

.dataheading {
    font-size: 200%;
    display: inline-block;
}

#worklist li, #interests li {
    padding-bottom: 20px;
}

#keyskillsaccordion .accordion-item {
    border-bottom: 0;
}

#interestlist {
    background-color: white;
}

#qualifications, #courses, #personalproject, #groupproject, #employment, #techskills, #personalskills, #interests {
    scroll-margin-top: 75px;
}

#groupproject a {
    color: black;
}

/* Font Awesome icon styling */

i {
    font-size: 150%;
}

footer {
    background-color: white;
}

footer p {
    margin: 10px 0;
}

/* Media queries for different screen sizes */

@media only screen and (min-width: 991px) {
    
    ul.dropdown-menu.show {
        position: absolute;
        left: -120px;
    }

}
